.page-sponsor {
  #page {
    #main-content {
      .content-center{
        .header{
          display: none;
        }
        section.sponsor-container-top{
          position: relative;
          margin: 0 auto;
          .sponsor-tit{
            @include fonts("Conv_Gotham-Medium", 48px, 800);
            text-align: center;
            margin: 8% 0px 2% 0;
            line-height: 1;
            margin-bottom: 10px;
            color: #101828;
            span.green{
              @include fonts("Conv_Gotham-Medium", 48px, 800);
              color: $color-green;
            }
          }
          .sponsor-des{
            @include fonts("poppins", 16px, "normal");
            text-align: center;
            width: 60%;
            margin: 0 auto 2% auto;
          }
          .sponsor-btn{
            margin: 0 auto;
            a{
              max-width: 330px !important;
              @include black-btn-green(auto);
              display: flex;
              justify-content: flex-start;
              align-items: center;
              text-align: left;
              @include fonts("poppins", 16px, "normal");
              position: relative;
              padding-left: 24px;
              margin-left: 36%;
              &::after {
                content: "";
                position: absolute;
                right: 10px;
                width: 29px;
                height: 29px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
    
              &::after {
                content: "\2197";
                font-size: 16px;
                color: #f7941d;
              }
            }
         }
         .sponsor-img{
          img{
            width: 300px;
            height: auto;
          }
         }
        }
        section.sponsor-container-medium{
          text-align: center;
          position: relative;
          margin: 16% auto;
          .sponsor-tit{
            @include fonts("Conv_Gotham-Medium", 48px, 800);
            text-align: center;
            margin: 8% 0px 2% 0;
            line-height: 1;
            margin-bottom: 10px;
            color: #101828;
            span.green{
              @include fonts("Conv_Gotham-Medium", 48px, 800);
              color: $color-green;
            }
          }
          .sponsor-des{
            @include fonts("poppins", 16px, "normal");
            text-align: center;
            width: 60%;
            margin: 0 auto 2% auto;
          }
         .sponsor-imgs{
          figure{
            float: left;
            width: calc(100%/3);
            position: relative;
            .sponsor-imgs-data{
              position: absolute;
              bottom: 20px;
              left: 15px;
              width: 80%;
              margin-left: 12px;
              text-align: left;
              .sponsor-imgs-tit{
                @include fonts("Mukta", 22px, 600);
                color: $color-white;
              }
              .sponsor-imgs-dat{
                color: $color-white;
                border: 1px solid $color-white;
                border-radius: 25px;
                float: left;
                padding: 3px 24px;
              }
              .sponsor-imgs-des{
                color: $color-white;
                clear: both;
              }
            }
          }
         }
        }
        section.sponsor-container-bottom{
          position: relative;
          display: inline-block;
          width: 100%;
          margin: 20px 0;
          div.sponsor-container-bottom-left{
            width: 60%;
            float: left;
          }
          div.sponsor-container-bottom-right{
            width: 40%;
            float: left;
          }
          div.sponsor-container-bottom-left{
            padding-right: 35px;
            .sponsor-container-bottom-left-tit{
              @include fonts("Conv_Gotham-Medium", 48px, 800);
              margin: 8% 0px 2% 0;
              line-height: 1;
              margin-bottom: 10px;
              color: #101828;
              span.green{
                @include fonts("Conv_Gotham-Medium", 48px, 800);
                color: $color-green;
              }
            }
            .sponsor-container-bottom-left-des{
              @include fonts("poppins", 16px, "normal");
              margin: 0 auto 2% auto;
            }
          }
          div.sponsor-container-bottom-right{
            border: 1px solid #E9E9EE;
            @include radius-spk-16();
            padding: 24px;
            ul {
              list-style: none;  
              li {
                margin: 10px 0;
                position: relative;
                @include fonts("poppins", 16px, "normal");
            
                &::before {
                  content: "";
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  filter: invert(53%) sepia(91%) saturate(508%) hue-rotate(348deg) brightness(105%) contrast(94%);
                  background-image: url("/themes/custom/sph/images/check-spk.svg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  margin-right: 8px; 
                }
              }
            }
            
            .sponsor-container-bottom-right-btn{
              margin: 20px 0;
              text-align: center;
              a{
                max-width: 400px !important;
                @include black-btn-green(auto);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                @include fonts("poppins", 16px, "normal");
                position: relative;
                padding-left: 24px;
                &::after {
                  content: "";
                  position: absolute;
                  right: 10px;
                  width: 29px;
                  height: 29px;
                  background-color: #fff;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
      
                &::after {
                  content: "\2197";
                  font-size: 16px;
                  color: #f7941d;
                }
              }
            }
          }
        }
      }
    }
  }
}