.page-calendar {
  #page {
    #main-content {
      .content-center {
        .views-element-container {
          margin: 30px 0;
          header {
            text-align: center;
            margin: 6% 0 4% 0;
            .cal-btn {
              @include black-btn();
              margin-bottom: 10px;
              &::before {
                content: "";
                display: inline-block;
                width: 80px;
                height: 80px;
                background-image: url("/themes/custom/sph/images/Camp-spk.png");
                background-size: cover;
                background-repeat: no-repeat;
                margin: -93px -4px -48px -20px;
              }
            }
            .cal-tit {
              @include fonts("Conv_Gotham-Medium", 48px, 800);
              text-align: center;
              line-height: 1;
              margin-bottom: 10px;
              margin: 24px auto;
              color: #101828;
              span.green {
                @include fonts("Conv_Gotham-Medium", 48px, 800);
                color: $color-green;
              }
            }
            .cal-des {
              @include fonts("poppins", 16px, "normal");
              color: #101828;
              text-align: center;
              margin: 8px auto 24px auto;
              width: 70%;
            }
            .cal-colors {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #e9e9ee;
              height: 45px;
              @include radius-spk-12();
              padding: 16px;
              div {
                @include fonts("poppins", 13px, "normal");
                color: #1c2635;
              }
              div.circle {
                height: 15px;
                width: 15px;
                background-color: $color-black;
                border-radius: 50%;
                display: inline-block;
                margin: 10px;
              }
              div.circle.cultural-color {
                background-color: #fc9a0a;
              }
              div.circle.camp-color {
                background-color: #1f978d;
              }
            }
          }
          .js-drupal-fullcalendar {
            .fc-toolbar{
              .fc-right{
                display: none;
              }
            }
            .fc-view-container {
              .fc-title {
                color: $color-white;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
