.page-node-type-campamento, .page-node-type-cultura{
  #page {
    #main-content {
      .content-center {
        margin: 30px 0;
        .type {
          @include fonts("Conv_Gotham-Medium", 16px, 600);
          color: $color-orange;
        }
        .title {
          margin: 12px 0 8px 0;
          h1 {
            @include fonts("Conv_Gotham-Medium", 40px, 600);
            color: #232323;
          }
        }
        .image {
          float: left;
          img {
            width: 400px;
            height: auto;
          }
        }
        .author {
          margin: 10px 0;
          display: flex;
          align-items: center;
          position: relative;
          border-bottom: 1px solid #e9e9ee;
          padding-bottom: 8px;
          img {
            width: 45px;
            height: 45px;
            float: left;
            object-fit: cover;
            border: 1px solid #e9e9ee;
            @include radius-spk-32();
            margin-right: 4px;
          }
          .author-name {
            @include fonts("Conv_Gotham-Medium", 16px, 600);
            float: left;
            border-right: 1px solid $color-black;
            padding-right: 8px;
          }
          .author-date {
            @include fonts("Conv_Gotham-Medium", 16px, 600);
            float: left;
            padding-left: 10px;
          }
        }
        .descrption {
          p {
            color: #232323;
            @include fonts("poppins", 16px, "normal");
          }
          margin: 10px 0;
          width: 700px;
          float: left;
          padding-left: 20px;
        }
        .register-btn{
            float: right;
            @include black-btn-green(auto);
            margin-right: 10px;
            padding: 16px;
            position: relative;
        }
        .last-news {
          clear: both;
          margin: 20px 0;
          .last-news-tit {
            @include fonts("Conv_Gotham-Medium", 24px, 800);
            margin: 16px 0;
            span.orange {
              @include fonts("Conv_Gotham-Medium", 24px, 800);
              color: $color-orange;
            }
          }
          .last-news-view {
            header {
              display: none;
            }
            .slick-list .slick__slide {
              margin-right: 24px;
              height: 470px;
              border: 1px solid #e9e9ee;
              @include radius-spk-16();
              .news-image {
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                width: 364px;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              .news-date {
                border: 1px solid #e9e9ee;
                @include radius-sph();
                text-align: center;
                width: auto;
                max-width: 190px;
                height: 40px;
                color: #101828;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                @include fonts("poppins", 14px, "normal");
                margin: 16px;
                &::before {
                  content: "";
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  background-image: url("/themes/custom/sph/images/calendario.svg");
                  background-size: cover;
                  background-repeat: no-repeat;
                  margin-right: 4px;
                }
              }
              .news-title {
                @include fonts("Conv_Gotham-Medium", 19px, "normal");
                color: #101828;
                line-height: 24px;
                text-align: left;
                margin-left: 16px;
              }
              .news-sdesc {
                @include fonts("poppins", 14px, "normal");
                color: #101828;
                text-align: left;
                margin: 4px 16px 8px 16px;
              }
              a .news-btn {
                max-width: 344px !important;
                text-align: left;
                @include fonts("poppins", 16px, "normal");
                position: relative;
                margin: 8px;
                height: 45px !important;
                @include black-btn();
                width: auto !important;
                background-color: #0077ff !important;
              }
            }
            nav {
              .slick-prev {
                width: 60px;
                position: absolute;
                left: -80px;
                border: 0px solid;
              }
              .slick-next {
                width: 60px;
                position: absolute;
                right: -80px;
                border: 0px solid;
              }
            }
          }
        }
      }
    }
  }
}
