#header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
  }
  .header-first {
    border-bottom: 1px solid #39364f05;
    background-color: rgba(255, 255, 255, 0.774);
    display: inline-block;
    width: 90%;
    z-index: 999;
    position: fixed;
    margin-top: 10px;
    @include radius-spk-10();
    @include breakpoint($desktop) {
      background-color: rgba(255, 255, 255, 0.774);
      border: 1px solid #e9e9ee;
      display: inline-block;
      width: 60%;
      height: 60px;
      position: fixed;
      max-width: 1120px;
      @include radius-spk-16();
      margin-top: 16px;
      transition: 0.7s;
      z-index: 10;
      backdrop-filter: blur(17.7px);
      -webkit-backdrop-filter: blur(17.7px);
      background: rgba(255, 255, 255, 0.11);
      -moz-backdrop-filter: blur(17.7px);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    #block-sph-svgimagelogo {
      float: left;
      display: flex;
      padding: 14px 16px 12px 14px;
      width: 17%;
      @include breakpoint($desktop) {
        padding: 7px 4px 4px 16px;
      }
      img {
        width: 90px;
        height: auto;
        @include breakpoint($desktop) {
          width: 120px;
          height: auto;
        }
      }
    }

    #block-sph-navegacionprincipal {
      width: auto;
      float: left;
      .contextual-region {
        color: #39364f;
      }
      .menu {
        display: flex;
        height: 57px;
        align-items: center;
      }
      ul {
        li {
          width: 100%;
          text-align: left;
          list-style: none;
          float: left;
          padding: 8px;
          display: flex;
          background-color: #fff;
          @include transition-all-sph();
          margin-right: 0;
          @include breakpoint($desktop) {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 70px;
            height: 45px;
            @include transition-all-sph();
            background-color: #fff0;
            padding: 0;
            margin-right: 6px;
          }
          @include breakpoint($table) {
            width: auto;
          }
          a {
            width: 100%;
            @include fonts("poppins", 16px, "normal");
            padding: 24px;
            @include breakpoint($desktop) {
              @include fonts("Conv_Gotham-Medium", 14px, "normal");
              width: auto;
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              @include transition-all-sph();
            }
            @include breakpoint($table) {
              @include fonts("Conv_Gotham-Medium", 14px, "normal");
              width: auto;
              @include transition-all-sph();
            }
            color: #39364f;
            text-transform: capitalize;
            text-decoration: none;
          }
        }
        li:hover {
          background-color: #0000000d;
          @include radius-sph();
          @include transition-all-sph();
          a {
            color: #8cc63f;
          }
        }
        li .is-active {
          @include -sph-hoverComponent();
          padding: 24px;
          color: #19939f;
          @include fonts("poppins", 14px, 500);
          @include breakpoint($desktop) {
            @include -sph-hoverComponent();
            padding: 8px;
            color: #19939f;
            @include fonts("poppins", 11px, 500);
          }
        }
      }
    }
    #block-sph-languageswitcher {
      display: flex;
      float: right;
      width: 13%;
      justify-content: center;
      align-items: center;
      height: 45px;
      border: 1px solid #eeeeee;
      @include radius-sph();
      margin: 6px;
      background-color: #fff;
      h2 {
        display: none;
      }

      .links {
        display: flex;
        width: 100%;
      }

      ul {
        display: flex;
        width: 100%;
        li.is-active {
          @include radius-sph();
          background-color: #e9e9ee;
          width: 36%;
          height: 37px;
          margin: 4px 4px 4px 14px;
        }
        li {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 45px;
          position: relative;

          a {
            display: block;
            width: 100%;
            height: 100%;
            text-indent: -9999px;
            overflow: hidden;
            position: relative;
          }

          &:first-child a {
            background-image: url("/themes/custom/sph/images/espana.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }

          &:last-child a {
            background-image: url("/themes/custom/sph/images/holanda@2x.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}
