#header {
  margin: 0 auto;
  width: 100%;
  .container {
    height: 50px;
    width: 1170px;
  }
  .header-first{
    border-bottom: 1px solid #39364f05;
    display: inline-block;
    width: 100%;
    z-index: 10;
    position: fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    @include breakpoint($desktop) {
      border-bottom: 1px solid #39364f05;
      display: inline-block;
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: space-around;
      transition: 0.7s;
      z-index: 10;
      backdrop-filter: blur(17.7px);
      -webkit-backdrop-filter: blur(17.7px);
      border-bottom: 1px solid #e0e7ef82;
      background: rgba(255, 255, 255, 0.11);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.027);
      -moz-backdrop-filter: blur(17.7px);
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
    }
    #block-sph-svgimagelogo {
      float: left;
      display: flex;
      padding: 14px 16px 12px 14px;
      width: 10%;
      @include breakpoint($desktop) {
        padding: 10px 0;
      }
      img {
        width: 90px;
        height: auto;
        @include breakpoint($desktop) {
          width: 90px;
          height: auto;
        }
      }
    }

    #block-sph-navegacionprincipal {
      width: 80%;
      float: left;
      @include breakpoint($desktop) {
        margin-top: 4px;
      }
      .contextual-region {
        color: #39364f;
      }
      ul {
        margin-top: 8px;
        li {
          width: 100%;
          text-align: left;
          list-style: none;
          float: left;
          padding: 8px;
          display: flex;
          background-color: #fff;
          @include transition-all-sph();
          margin-right: 0;
          @include breakpoint($desktop) {
            width: auto;
            width: 100%;
            display: inline-block;
            text-align: center;
            @include transition-all-sph();
            background-color: #fff0;
            padding: 0;
            margin-right: 6px;
          }
          @include breakpoint($table) {
            width: auto;
          }
          a {
            width: 100%;
            @include fonts("poppins", 16px, "normal");
            padding: 24px;
            @include breakpoint($desktop) {
              @include fonts("poppins", 11px, "normal");
              width: auto;
              padding: 8px;
              @include transition-all-sph();
            }
            @include breakpoint($table) {
              @include fonts("poppins", 11px, "normal");
              width: auto;
              @include transition-all-sph();
            }
            color: #39364f;
            text-transform: capitalize;
            text-decoration: none;
          }
          a:hover {
            color: #19939f;
            background-color: #0000000d;
            @include radius-sph();
            @include transition-all-sph();
            padding: 24px;
            @include breakpoint($desktop) {
              color: #19939f;
              background-color: #0000000d;
              @include radius-sph();
              @include transition-all-sph();
              padding: 8px;
            }
          }
          a:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
         
        }
        li .is-active {
          @include -sph-hoverComponent();
          padding: 24px;
          color: #19939f;
          @include fonts("poppins", 14px, 500);
          @include breakpoint($desktop) {
            @include -sph-hoverComponent();
            padding: 8px;
            color: #19939f;
            @include fonts("poppins", 11px, 500);
          }
        }
      }
    }
    #block-sph-languageswitcher{
      display: flex;
      float: right;
      width: 10%;
      h2{
        display: none;
      }
      ul{
        li{
          width: auto;
          display: inline-block;
          text-align: center;
          background-color: #fff0;
          padding: 0;
          margin-right: 6px;
          a{
            @include fonts("poppins", 11px, "normal");
          }
          a.is-active{
            border-bottom: 2px solid $color-black;
          }
        }
      }
    }
  }
}
