// Custom mixins

// fuentes
@mixin fonts($font, $size, $weight) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
}

@mixin background($urlimage, $position, $color, $repeat) {
  background-image: url($urlimage);
  background-position: $position;
  background-color: $color;
  background-repeat: $repeat;
}

@mixin transition-all-sph() {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

@mixin radius-sph() {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@mixin -sph-hoverComponent() {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  background-color: #0000000d;
  @include radius-sph();
  @include transition-all-sph();
}

@mixin black-btn(){
  width: 182px;
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  border-radius: 25px;
  padding: 4px;
  margin-bottom: 10px;
  margin: 0 auto;
}

@mixin black-btn-green($size){
  width: $size;
  background-color: $color-green;
  color: $color-white;
  text-align: center;
  border-radius: 25px;
  padding: 4px;
  margin-bottom: 10px;
  margin: 0 auto;
  a{
    color: $color-white;
  }
}

@mixin black-btn-orange($size){
  width: $size;
  background-color: $color-orange;
  color: $color-white;
  text-align: center;
  border-radius: 25px;
  padding: 4px;
  margin-bottom: 10px;
  margin: 0 auto;
  a{
    color: $color-white;
  }
}