/* Vaiables */
$table: 768px;
$desktop: 1170px;
#page {
  #main-content{
    padding-top: 60px;
    @include breakpoint($table) {
      margin: 0 auto;
      width: 768px;
    }
    @include breakpoint($desktop) {
      width: 1170px;
    }
  }
}